*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;

}
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right bottom,black,red);
    color: antiquewhite;
    display: grid;
    place-items: center;
}
.container{
    width: 80%;
    max-width: 850px;
    padding: 30px;
    text-align: center;
    display: none;
}
.container h1 {
    font-size: 36px;
    margin-bottom: 40px;
    text-decoration: underline;
    text-underline-offset: 8px;

}
.container .question{
    font-size: 26px;
    margin-top: 20px;

}
.container .choices {
    margin-top: 20px;

}
.choice {
    font-size: 20px;
    background-color: rgb(215, 193, 165);
    color: black;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    width: 60%;
    cursor: pointer;

}
.choice:hover{
    background-color: aqua;

}
.btn {
    width: 60%;
    font-size:20px;
    padding: 12px 20px;
    font-weight: 600;
    margin: 20px auto 0 auto;
    background-color: rgb(175, 102, 49);
    color: #ffff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(148, 93, 66);
    
}
.choice.selected{
    background-color: blueviolet;
    color: azure;
}
.scoreCard{
    font-size: 24px;
    margin-top: 20px;
}
.alert {
    background-color: brown;
    border-radius: 5px;
    width: 100%;
    padding: 12px;
    position: absolute;
    top: 0;
     display: none;
}
.startBtn {
    width: 30%;
    padding-block:20px ;
    text-align: center;
}
.timer{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: black;
    font-size: 24px;
    font-weight: 600;
    border:2px solid;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

}