*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:monospace;
}
body{
    /* background-color: rgb(0, 0, 0); */
    height: 100vh;
    padding-top: 20px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: ; */
}
.input-container{
    width: 100%;
    max-width: 500px;
    padding: 20px;
    text-align: center;
    
}
.input-container input{
    border: none;
    outline: none;
    padding: 12px;
    margin-block:12px ;
    border-radius: 4px;
    font-size: 16px;
}
.input-container input[type= "text"]{
    width: 70%;
}

.input-container input[type= "button"]{
    background-color: green;
    font-weight: 700;
    margin-left: 8px;
    cursor: pointer;
    padding: 12px 24px;
}
.input-container input[type="button"]:hover{
    background-color: rgb(105, 162, 49);
}
ul{
    width: 100%;
    max-width: 450px;
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
}

ul li{
    list-style-type:none;
    cursor: pointer;
    margin-block-end: 12px;
    border-radius: 8px;
    border: 0.125px solid white;
    padding: 6px 10px;
    /* background-color: rgb(221, 213, 203); */
    color: black;
    display: flex;
    justify-content: space-between;
    gap: 2px;
    transition: background-color 0.5s;
}
ul li:hover{
    background-color: rgb(170, 135, 135);
}
ul li p {
    flex-grow: 1;
    padding: 2px;
    /* gap: 2px; */
}
.btn{
    margin: 0px 3px;
    border: none;
    outline: none;
    font-size:16px ;
    background-color: none;
    font-weight: 600;
    cursor: pointer;
    padding: 8px;
    /* gap: 2px; */
}
.dltBtn{
    background-color: none;
    color: red;
}
.editBtn{
    background-color: none;
    color: green;
}